<% @page_title = "#{@post.user_username}'s Blog | #{@post.title}" %>

<h2><%= @post.title %></h2>
<p class="text-muted"><%= @post.created_at %></p>
<p><%= @post.body %></p>

<% if user_signed_in? %>
    <%= link_to "Edit Post", edit_post_path, class: "btn btn-primary" %>
    <%= link_to "Delete Article", post_path, class: "btn btn-danger" , method: :delete, data: { confirm: 'Are you sure you want to delete the article?' } %>
    <%= link_to "Back to Posts", "/#{@post.user_username}/posts", class: "btn btn-warning" %>
<% else %>
    <%= link_to "Back to Posts", "/#{@post.user_username}/posts", class: "btn btn-warning" %>
<% end %>