<% @page_title = "#{current_user.username}'s Blog | #{@post.title}" %>

<h2><%= @post.title %></h2>
<p class="text-muted"><%= @post.created_at %></p>
<p><%= @post.body %></p>

<% if @post.user_id == current_user.id %>
    <%= link_to "Edit Post", edit_post_path, class: "btn btn-primary" %>
<% end %>
    <%= link_to "Delete Article", post_path, class: "btn btn-danger" , method: :delete, data: { confirm: 'Are you sure you want to delete the article?' } %>

<%= link_to "Back to Posts", posts_path, class: "btn btn-warning" %>